# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# ci byproducts (tox, sphinx)
doc/api/code
doc/api/html
.tox

# Big files workaround
bigfiles/*
!bigfiles/README.txt
!bigfiles/pull-bigfiles.sh
!bigfiles/push-bigfiles.sh
