.gitattributes export-ignore
.gitignore export-ignore
/config export-ignore
doc/common merge=keepmine
doc/common/glidein.js merge=keepmine
doc/common/glideinWMS.css merge=keepmine
doc/components merge=keepmine
doc/components/collector_install.html merge=keepmine
doc/components/condor.html merge=keepmine
doc/components/condor_config.html merge=keepmine
doc/components/configuration_install.html merge=keepmine
doc/components/faq.html merge=keepmine
doc/components/gcb.html merge=keepmine
doc/components/gsi.html merge=keepmine
doc/components/index.html merge=keepmine
doc/components/multiple_schedd.html merge=keepmine
doc/components/pool_install.html merge=keepmine
doc/components/prerequisites.html merge=keepmine
doc/components/quill.html merge=keepmine
doc/corral.html merge=keepmine
doc/documentation.html merge=keepmine
doc/download.html merge=keepmine
doc/factory merge=keepmine
doc/factory/configuration.html merge=keepmine
doc/factory/custom_scripts.html merge=keepmine
doc/factory/custom_vars.html merge=keepmine
doc/factory/design.html merge=keepmine
doc/factory/design_data_exchange.html merge=keepmine
doc/factory/design_entry.html merge=keepmine
doc/factory/design_factory.html merge=keepmine
doc/factory/design_glidein.html merge=keepmine
doc/factory/glideclient.html merge=keepmine
doc/factory/glidefactory.html merge=keepmine
doc/factory/index.html merge=keepmine
doc/factory/install.html merge=keepmine
doc/factory/glidefactoryclient.html merge=keepmine
doc/factory/protocol_details.html merge=keepmine
doc/factory/troubleshooting.html merge=keepmine
doc/factory/monitoring.html merge=keepmine
doc/factory/glideclientglobal.html merge=keepmine
doc/factory/glidefactoryglobal.html merge=keepmine
doc/frontend merge=keepmine
doc/frontend/configuration.html merge=keepmine
doc/frontend/design.html merge=keepmine
doc/frontend/index.html merge=keepmine
doc/frontend/install.html merge=keepmine
doc/frontend/monitoring.html merge=keepmine
doc/frontend/troubleshooting.html merge=keepmine
doc/history.html merge=keepmine
doc/images merge=keepmine
doc/images/3888515697_1c053403f3_o.jpg merge=keepmine
doc/images/animation_broken_site.gif merge=keepmine
doc/images/bird.jpg merge=keepmine
doc/images/breadcrumbs.png merge=keepmine
doc/images/entry_points_overview.odg merge=keepmine
doc/images/entry_points_overview.png merge=keepmine
doc/images/factory_client_publish.odg merge=keepmine
doc/images/factory_client_publish.png merge=keepmine
doc/images/factory_overview.odg merge=keepmine
doc/images/factory_overview.png merge=keepmine
doc/images/factory_publish.odg merge=keepmine
doc/images/factory_publish.png merge=keepmine
doc/images/flow_element_main.odg merge=keepmine
doc/images/flow_element_main.png merge=keepmine
doc/images/flow_element_stats.odg merge=keepmine
doc/images/flow_element_stats.png merge=keepmine
doc/images/flow_element_work.odg merge=keepmine
doc/images/flow_element_work.png merge=keepmine
doc/images/flow_entry_main.odg merge=keepmine
doc/images/flow_entry_main.png merge=keepmine
doc/images/flow_entry_stats.odg merge=keepmine
doc/images/flow_entry_stats.png merge=keepmine
doc/images/flow_entry_work.odg merge=keepmine
doc/images/flow_entry_work.png merge=keepmine
doc/images/flow_factory_main.odg merge=keepmine
doc/images/glideins.odg merge=keepmine
doc/images/flow_factory_main.png merge=keepmine
doc/images/flow_factory_stats.odg merge=keepmine
doc/images/flow_factory_stats.png merge=keepmine
doc/images/flow_frontend_main.odg merge=keepmine
doc/images/flow_frontend_main.png merge=keepmine
doc/images/flow_frontend_stats.odg merge=keepmine
doc/images/flow_frontend_stats.png merge=keepmine
doc/images/flow_glidein_condor.odg merge=keepmine
doc/images/flow_glidein_condor.png merge=keepmine
doc/images/flow_glidein_file.odg merge=keepmine
doc/images/flow_glidein_file.png merge=keepmine
doc/images/flow_glidein_main.odg merge=keepmine
doc/images/flow_glidein_main.png merge=keepmine
doc/images/flow_glidein_sign.odg merge=keepmine
doc/images/flow_glidein_sign.png merge=keepmine
doc/images/frontend_overview.odg merge=keepmine
doc/images/frontend_overview.png merge=keepmine
doc/images/frontend_publish.odg merge=keepmine
doc/images/frontend_publish.png merge=keepmine
doc/images/frontend_publish_params.png merge=keepmine
doc/images/glideinWMS_at_a_glance_medium.png merge=keepmine
doc/images/glidein_script.odg merge=keepmine
doc/images/glidein_script.png merge=keepmine
doc/images/glideins.png merge=keepmine
doc/images/header.jpg merge=keepmine
doc/images/header2.jpg merge=keepmine
doc/images/header2.xcf merge=keepmine
doc/images/header3.xcf merge=keepmine
doc/images/header_old.jpg merge=keepmine
doc/images/modules_element.odg merge=keepmine
doc/images/modules_element.png merge=keepmine
doc/images/modules_entry.odg merge=keepmine
doc/images/modules_entry.png merge=keepmine
doc/images/modules_factory.odg merge=keepmine
doc/images/modules_factory.png merge=keepmine
doc/images/modules_frontend.odg merge=keepmine
doc/images/modules_frontend.png merge=keepmine
doc/images/overview_WMS_factory.png merge=keepmine
doc/images/overview_collector.png merge=keepmine
doc/images/overview_frontend.png merge=keepmine
doc/images/overview_gcb.png merge=keepmine
doc/images/overview_glidein.png merge=keepmine
doc/images/overview_schedd.png merge=keepmine
doc/images/scripts_glidein.odg merge=keepmine
doc/images/scripts_glidein.png merge=keepmine
doc/images/simple_animation.gif merge=keepmine
doc/images/simple_animation.xcf merge=keepmine
doc/images/simple_animation_broken.xcf merge=keepmine
doc/images/simple_animation_op.xcf merge=keepmine
doc/images/simple_diagram.odg merge=keepmine
doc/images/simple_diagram.png merge=keepmine
doc/images/simple_diagram.xcf merge=keepmine
doc/images/simple_diagram2.odg merge=keepmine
doc/images/simple_diagram2.png merge=keepmine
doc/index.html merge=keepmine
doc/install merge=keepmine
doc/install/example-config merge=keepmine
doc/install/example-config/multi_schedd merge=keepmine
doc/install/example-config/multi_schedd/init_schedd.sh merge=keepmine
doc/install/example-config/multi_schedd/new_schedd_setup.sh merge=keepmine
doc/install/example-config/multi_schedd/start_master_schedd.sh merge=keepmine
doc/install.html merge=keepmine
doc/license.html merge=keepmine
doc/papers merge=keepmine
doc/papers/structural_overview.odt merge=keepmine
doc/tags.txt merge=keepmine
doc/upgrade.html merge=keepmine
etc/checksum merge=keepmine
etc/checksum.factory merge=keepmine
etc/checksum.frontend merge=keepmine
creation/web_base/factoryCompletedStats.html merge=keepmine
creation/web_base/factoryEntryStatusNow.html merge=keepmine
creation/web_base/factoryLogStatus.html merge=keepmine
creation/web_base/factoryRRDBrowse.html merge=keepmine
creation/web_base/factoryRRDEntryMatrix.html merge=keepmine
creation/web_base/factoryStatus.html merge=keepmine
creation/web_base/factoryStatusNow.html merge=keepmine
creation/web_base/frontendGroupGraphStatusNow.html merge=keepmine
creation/web_base/frontendRRDBrowse.html merge=keepmine
creation/web_base/frontendRRDGroupMatrix.html merge=keepmine
creation/web_base/frontendStatus.html merge=keepmine
creation/web_base/frontendStatusNow.html merge=keepmine
