# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# ci byproducts (ruff, tox, sphinx)
doc/api/code
doc/api/html
.ruff_cache
.tox
unittests/unittests-reports/

# Big files workaround
bigfiles/*
!bigfiles/README.md
# Scripts were moved. The following 2 are here for back compatibility, can be removed in the future
!bigfiles/pull-bigfiles.sh
!bigfiles/push-bigfiles.sh

.idea/*

# Mac temp files
.DS_Store
