# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# ci byproducts (tox, sphinx)
doc/api/code
doc/api/html
.tox
unittests/unittests-reports/

# Big files workaround
bigfiles/*
!bigfiles/README.md
# Scripts were moved. The following 2 are here for back compatibility, can be removed in the future
!bigfiles/pull-bigfiles.sh
!bigfiles/push-bigfiles.sh

.idea/*
node_modules/*
output/*
package-lock.json
package.json
test/bats/logs/
