# for runtime
cryptography
htcondor
# This is not from the HTCondor team. HTCSS classad is included in the htcondor package (J.Patton,C.Bollig)
# classad  # pure python 3rd party classad implementation
m2crypto
requests
structlog
pyyaml
pyjwt
scitokens

#for verifications
pylint
#pylint==2.7.1  # TODO: Remove this lock when https://github.com/PyCQA/pylint/issues/3624 is solved
astroid
#astroid==2.5.0  # Required by pylint 2.7.1 TODO: Remove this lock along with the above lock
pycodestyle
hypothesis
autopep8
testfixtures
coverage
future
# std in p3 importlib
# std in p3 argparse
pyyaml
PyJWT
toml

# for tests
jsonpickle
# std in p3 as unittest.mock, leaving it for now
mock
pytest
tabulate
# std in p3 unittest
# xmlrunner incompatible w/ 3.12, use:
unittest-xml-reporting
