# for runtime
htcondor
m2crypto

# commented out until we drop python2 support
## classad ##

#for verifications
pylint
pycodestyle
astroid
hypothesis
autopep8
testfixtures
coverage
future
importlib
argparse
pyyaml

# for tests
jsonpickle
mock
pytest
tabulate
unittest2
xmlrunner

