#version=RHEL5
# System authorization information
auth --useshadow --enablemd5

# Firewall configuration
firewall --disabled

# Use network installation
url --url="http://newman.ultralight.org/os/centos/5.5/x86_64"
repo --name="Base" --baseurl=http://newman.ultralight.org/os/centos/5.5/x86_64
repo --name="CernVM" --baseurl=http://cvmrepo.web.cern.ch/cvmrepo/yum/cvmfs/x86_64/
repo --name="EPEL" --baseurl=http://download.fedora.redhat.com/pub/epel/5/x86_64/
repo --name="Nebraska" --baseurl=http://t2.unl.edu/store/repos/nebraska/5/nebraska/x86_64/

# Network information
network  --bootproto=dhcp --device=eth0 --onboot=on

# System keyboard
keyboard us

# System language
lang C

# SELinux configuration
selinux --disabled

# Installation logging level
logging --level=info

# Reboot after installation
reboot

# System services
services --enabled="network"

# System timezone
timezone  US/Central

# System bootloader configuration
bootloader --append="acpi=force" --location=mbr --timeout=1

# Disk partitioning information
part /boot  --fstype="ext3" --ondisk=hda --size=100
part /  --fstype="ext3" --ondisk=hda --size=9900

%packages
bash
grub
kernel
system-config-securitylevel-tui
e2fsprogs
passwd
policycoreutils
chkconfig
rootfiles
yum
vim-minimal
acpid
#needed to disable selinux
#lokkit

#Allow for dhcp access
dhclient
iputils

#Cern VM FS
cvmfs
cvmfs-init-scripts

# fetch-crl
fetch-crl

# glideinWMS
gWMS-EC2-Pilot

#
# Packages to Remove
#

# no need for kudzu if the hardware doesn't change
-kudzu
-prelink
-setserial
-ed

# Remove the authconfig pieces
-authconfig
-rhpl
-wireless-tools

# Remove the kbd bits
-kbd
-usermode

# these are all kind of overkill but get pulled in by mkinitrd ordering
-mkinitrd
-kpartx
-dmraid
-mdadm
-lvm2
-tar

# selinux toolchain of policycoreutils, libsemanage, ustr
-policycoreutils
-checkpolicy
-selinux-policy*
-libselinux-python
-libselinux

# Things it would be nice to loose
-redhat-logos
-redhat-release-notes

%end

%post --logfile /root/anaconda-post.log

# Configure CernVM FS
mkdir -p /etc/cvmfs/local.d
cat > /etc/cvmfs/local.d/default.conf << EOF
    CVMFS_REPOSITORIES=cms
    CVMFS_HTTP_PROXY="DIRECT"
EOF

# add to /etc/init.d/cvmfs after the install has been completed
sed -i "s,. /etc/init.d/functions\n\nRETVAL=0\n,. /etc/init.d/functions\n\nRETVAL=0\n\ncd /mnt\nmkdir cvmfs2\ncd /var/cache/\nln -s /mnt/cvmfs2 cvmfs2\n\n,g" /etc/init.d/cvmfs

/sbin/chkconfig fetch-crl-cron on
/sbin/chkconfig cvmfs on


%end
