<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
  <title>GlideinWMS</title>
  <meta name="CREATED" content="0;0">
  <meta name="CHANGED" content="20100521;20081031;14115200">    
  <link rel="stylesheet" type="text/css" href="../common/glideinWMS.css" media="screen, projection" />
</head>

<body lang="en-US" dir="ltr">
    <h1>
        <a href="index.html">GlideinWMS</a>
	<span>The Glidein-based Workflow Management System</span>
    </h1>
    <ul class="breadcrumbs">
        <li><a href="../index.html">Home</a></li>
        <li>FAQ</li>
    </ul>
    <div class="clear" />
    <div class="leftmenu">
        <ul class="components">
	        <li> <a href="../index.html">Home</a></li>
	        <li> <a href="../download.html">Download</a></li>
	        <li> <a href="../frontend/index.html">Glidein Frontend</a></li>
	        <li> <a href="../factory/index.html">WMS Factory</a></li>
	        <li> <a href="../components/index.html" >Components</a></li>
                <li> <a href="../recipes/index.html">Recipes</a></li>
	        <li> <a href="../components/faq.html" class="last">FAQ</a></li>
        </ul>
        <div class="search">
            <script>
            (function() {
                var cx = '013439253731257915088:h-xvmglqvrq';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
            })();
            </script>
            <gcse:search enableAutoComplete=true></gcse:search>
        </div>
    </div>
<div class="content">
    <div class="heading">
    <img align="right" width="280px" border="0px"
        src="../images/simple_diagram.png" usemap="#rightimage">
    <map name="rightimage">
        <area shape="rect" coords="90,3,177,60" href="../frontend/index.html" />
        <area shape="rect" coords="5,88,118,146" href="../components/collector_install.html" />
        <area shape="rect" coords="134,88,275,146" href="../factory/index.html" />
    </map>

    <h2>GlideinWMS</h2>
	<ul class="subcomponents">
	     <li> <a href="../index.html">Overview</a></li>
	     <li> <a href="../download.html">Download</a></li>
	     <li> <a href="../documentation.html">Documentation</a></li>
         <li> <a href="../install.html">Install</a></li>
	     <li> <a href="../history.html">History</a></li>
	     <li class="last"> <a href="../license.html">License</a></li>
	</ul>
        <h3>FAQ</h3>
	</div>
<div class="related">
Related links:
<ul>
<li> <a href="../frontend/troubleshooting.html">Frontend Troubleshooting</a></li>
<li> <a href="../factory/troubleshooting.html">Factory Troubleshooting</a></li>
</ul>
</div>
<div class="section">

<ul>
  <li><b>How to request support</b><br/>
  GlideinWMS support email: glideinwms-support at fnal.gov
  </li>
  <li><b>How to setup GSI in GlideinWMS</b><br/>
      Refer to <a href="../components/gsi.html">GSI setup reference guide</a>
  </li>

  <li><b>How to add global configuration parameter to Glidein Factory entries</b><br/>
      To add a configuration parameter that affects all the Factory entries, add an &lt;attr ...&gt; &lt;/attr&gt; tag to /glidein/attrs section
  </li>
  <li><b>How to add local configuration parameter to Glidein Factory entries</b><br/>
      To add a configuration parameter to a specific Factory entry, add an &lt;attr ...&gt; &lt;/attr&gt; tag to /glidein/entries/entry/attrs section
  </li>

  <li><b>How to configure GlideinWMS to retrieve core files produced by user jobs</b><br/>
      In the Factory configuration in the &lt;entry&gt; tag, the rsl attribute
      should contain condor_submit=('+Coresize' 'Unlimited').<br/>
      Example (all on one line):<br>
      <blockquote>
    rsl="(condor_submit=('+Coresize' 'Unlimited'))(queue=default)(jobtype=single)"
      </blockquote>

      In the condor_submit file of the user job add:
      <blockquote>
      +coresize = unlimited
      </blockquote>
      <b>NOTE:</b> The coresize for the actual user job will be set to the available
            disk space, not unlimited. Also, you can make this change to global
            parameter or local parameter.
  </li>
  <li><b>How does GlideinWMS support Cloud VMs</b><br/>
  Refer the <a href='https://github.com/holzman/gwms-cloud-vms'>gwms-cloud-vms</a> project page for more details.
  </li>
</ul>
</div>
<div class="footer">
Banner image by
<a href="http://www.flickr.com/people/leafwarbler/">Madhusudan Katti</a>
used under Creative Commons license.<br>
Original Home URL: <a href="http://glideinwms.fnal.gov">http://glideinwms.fnal.gov</a>.
GlideinWMS email support: glideinwms-support at fnal.gov
</div>

</div>
</body>
</html>
