
######################################################
# Base configuration values for glideinWMS
######################################################

#--  With glideins, there is nothing shared
CONDOR_HOST=$(FULL_HOSTNAME)
UID_DOMAIN=$(FULL_HOSTNAME)
FILESYSTEM_DOMAIN=$(FULL_HOSTNAME)

#-- Condor lock files to synchronize access to  various 
#-- log files.  Using the log directory so they are collocated
LOCK = $(LOG)

########################
## Daemons
########################
DAEMON_LIST   = MASTER
#-- Limit session caching to ~12h
SEC_DAEMON_SESSION_DURATION = 50000

############################################################
## Security config
############################################################
#-- Authentication settings
SEC_DEFAULT_AUTHENTICATION = REQUIRED
SEC_DEFAULT_AUTHENTICATION_METHODS = FS,GSI
SEC_READ_AUTHENTICATION    = OPTIONAL
SEC_CLIENT_AUTHENTICATION  = OPTIONAL
DENY_WRITE         = anonymous@*
DENY_ADMINISTRATOR = anonymous@*
DENY_DAEMON        = anonymous@*
DENY_NEGOTIATOR    = anonymous@*
DENY_CLIENT        = anonymous@*

#--  Privacy settings
SEC_DEFAULT_ENCRYPTION = OPTIONAL
SEC_DEFAULT_INTEGRITY = REQUIRED
SEC_READ_INTEGRITY = OPTIONAL
SEC_CLIENT_INTEGRITY = OPTIONAL
SEC_READ_ENCRYPTION = OPTIONAL
SEC_CLIENT_ENCRYPTION = OPTIONAL

#-- With strong security, do not use IP based controls
HOSTALLOW_WRITE = *
ALLOW_WRITE = $(HOSTALLOW_WRITE)

###########################################################
# Event logging (if desired) 
###########################################################
## EVENT_LOG=$(LOG)/EventLog
## EVENT_LOG_JOB_AD_INFORMATION_ATTRS=Owner,CurrentHosts,x509userproxysubject,AccountingGroup,GlobalJobId,QDate,JobStartDate,JobCurrentStartDate,JobFinishedHookDone,MATCH_EXP_JOBGLIDEIN_Site,RemoteHost
## EVENT_LOG_MAX_SIZE = 100000000 

#########################################################
## Make the factory user a condor superuser.
## This is needed by the factory damemons in privsep mode
## and it also makes the administration easier.
#########################################################
#QUEUE_SUPER_USERS = $(QUEUE_SUPER_USERS), wmsfactory
