###########################################################
# Collector Data
###########################################################
COLLECTOR_NAME = frontend_service
COLLECTOR_HOST = $(CONDOR_HOST):9618

#-- disable VOMS checking
COLLECTOR.USE_VOMS_ATTRIBUTES = False

#-- allow more file descriptors (only works if Condor is started as root)
COLLECTOR_MAX_FILE_DESCRIPTORS=20000

DAEMON_LIST   = $(DAEMON_LIST),  COLLECTOR, NEGOTIATOR

###########################################################
# Negotiator tuning
###########################################################
#-- Prefer newer claims as they are more likely to be alive
NEGOTIATOR_POST_JOB_RANK = MY.LastHeardFrom

#-- Increase negotiation frequency, as new glideins do not trigger a reschedule
NEGOTIATOR_INTERVAL = 60
NEGOTIATOR_MAX_TIME_PER_SUBMITTER=60
NEGOTIATOR_MAX_TIME_PER_PIESPIN=20

#-- Prevent preemption
PREEMPTION_REQUIREMENTS = False

#-- negotiator/GCB optimization
NEGOTIATOR_INFORM_STARTD = False

#-- Disable VOMS checking
NEGOTIATOR.USE_VOMS_ATTRIBUTES = False

#-- Causes Negotiator to run faster. PREEMPTION_REQUIREMENTS and all
#-- condor_startd rank expressions must be False for
#-- NEGOTIATOR_CONSIDER_PREEMPTION to be False
NEGOTIATOR_CONSIDER_PREEMPTION = False

#################################################
# Secondary Collectors
#################################################
#-- Forward ads to the main collector
#-- (this is ignored by the main collector, since the address matches itself)
CONDOR_VIEW_HOST = $(COLLECTOR_HOST)

# Define sub-collectors, their ports and their log files
COLLECTOR0 = $(COLLECTOR)
COLLECTOR0_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector0Log"
COLLECTOR0_ARGS = -f -p 9620

COLLECTOR1 = $(COLLECTOR)
COLLECTOR1_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector1Log"
COLLECTOR1_ARGS = -f -p 9621

COLLECTOR2 = $(COLLECTOR)
COLLECTOR2_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector2Log"
COLLECTOR2_ARGS = -f -p 9622

COLLECTOR3 = $(COLLECTOR)
COLLECTOR3_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector3Log"
COLLECTOR3_ARGS = -f -p 9623

COLLECTOR4 = $(COLLECTOR)
COLLECTOR4_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector4Log"
COLLECTOR4_ARGS = -f -p 9624

COLLECTOR5 = $(COLLECTOR)
COLLECTOR5_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector5Log"
COLLECTOR5_ARGS = -f -p 9625

COLLECTOR6 = $(COLLECTOR)
COLLECTOR6_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector6Log"
COLLECTOR6_ARGS = -f -p 9626

COLLECTOR7 = $(COLLECTOR)
COLLECTOR7_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector7Log"
COLLECTOR7_ARGS = -f -p 9627

COLLECTOR8 = $(COLLECTOR)
COLLECTOR8_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector8Log"
COLLECTOR8_ARGS = -f -p 9628

COLLECTOR9 = $(COLLECTOR)
COLLECTOR9_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector9Log"
COLLECTOR9_ARGS = -f -p 9629

COLLECTOR10 = $(COLLECTOR)
COLLECTOR10_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector10Log"
COLLECTOR10_ARGS = -f -p 9630




# Add subcollectors to the list of things to start
DAEMON_LIST = $(DAEMON_LIST) \
COLLECTOR0 \
COLLECTOR1 \
COLLECTOR2 \
COLLECTOR3 \
COLLECTOR4 \
COLLECTOR5 \
COLLECTOR6 \
COLLECTOR7 \
COLLECTOR8 \
COLLECTOR9 \
COLLECTOR10 \


# Add a whole bunch of collectors
COLLECTOR11 = $(COLLECTOR)
COLLECTOR11_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector11Log"
COLLECTOR11_ARGS = -f -p 9631
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR11
COLLECTOR12 = $(COLLECTOR)
COLLECTOR12_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector12Log"
COLLECTOR12_ARGS = -f -p 9632
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR12
COLLECTOR13 = $(COLLECTOR)
COLLECTOR13_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector13Log"
COLLECTOR13_ARGS = -f -p 9633
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR13
COLLECTOR14 = $(COLLECTOR)
COLLECTOR14_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector14Log"
COLLECTOR14_ARGS = -f -p 9634
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR14
COLLECTOR15 = $(COLLECTOR)
COLLECTOR15_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector15Log"
COLLECTOR15_ARGS = -f -p 9635
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR15
COLLECTOR16 = $(COLLECTOR)
COLLECTOR16_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector16Log"
COLLECTOR16_ARGS = -f -p 9636
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR16
COLLECTOR17 = $(COLLECTOR)
COLLECTOR17_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector17Log"
COLLECTOR17_ARGS = -f -p 9637
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR17
COLLECTOR18 = $(COLLECTOR)
COLLECTOR18_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector18Log"
COLLECTOR18_ARGS = -f -p 9638
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR18
COLLECTOR19 = $(COLLECTOR)
COLLECTOR19_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector19Log"
COLLECTOR19_ARGS = -f -p 9639
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR19
COLLECTOR20 = $(COLLECTOR)
COLLECTOR20_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector20Log"
COLLECTOR20_ARGS = -f -p 9640
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR20
COLLECTOR21 = $(COLLECTOR)
COLLECTOR21_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector21Log"
COLLECTOR21_ARGS = -f -p 9641
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR21
COLLECTOR22 = $(COLLECTOR)
COLLECTOR22_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector22Log"
COLLECTOR22_ARGS = -f -p 9642
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR22
COLLECTOR23 = $(COLLECTOR)
COLLECTOR23_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector23Log"
COLLECTOR23_ARGS = -f -p 9643
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR23
COLLECTOR24 = $(COLLECTOR)
COLLECTOR24_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector24Log"
COLLECTOR24_ARGS = -f -p 9644
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR24
COLLECTOR25 = $(COLLECTOR)
COLLECTOR25_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector25Log"
COLLECTOR25_ARGS = -f -p 9645
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR25
COLLECTOR26 = $(COLLECTOR)
COLLECTOR26_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector26Log"
COLLECTOR26_ARGS = -f -p 9646
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR26
COLLECTOR27 = $(COLLECTOR)
COLLECTOR27_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector27Log"
COLLECTOR27_ARGS = -f -p 9647
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR27
COLLECTOR28 = $(COLLECTOR)
COLLECTOR28_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector28Log"
COLLECTOR28_ARGS = -f -p 9648
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR28
COLLECTOR29 = $(COLLECTOR)
COLLECTOR29_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector29Log"
COLLECTOR29_ARGS = -f -p 9649
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR29
COLLECTOR30 = $(COLLECTOR)
COLLECTOR30_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector30Log"
COLLECTOR30_ARGS = -f -p 9650
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR30
COLLECTOR31 = $(COLLECTOR)
COLLECTOR31_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector31Log"
COLLECTOR31_ARGS = -f -p 9651
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR31
COLLECTOR32 = $(COLLECTOR)
COLLECTOR32_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector32Log"
COLLECTOR32_ARGS = -f -p 9652
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR32
COLLECTOR33 = $(COLLECTOR)
COLLECTOR33_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector33Log"
COLLECTOR33_ARGS = -f -p 9653
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR33
COLLECTOR34 = $(COLLECTOR)
COLLECTOR34_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector34Log"
COLLECTOR34_ARGS = -f -p 9654
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR34
COLLECTOR35 = $(COLLECTOR)
COLLECTOR35_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector35Log"
COLLECTOR35_ARGS = -f -p 9655
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR35
COLLECTOR36 = $(COLLECTOR)
COLLECTOR36_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector36Log"
COLLECTOR36_ARGS = -f -p 9656
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR36
COLLECTOR37 = $(COLLECTOR)
COLLECTOR37_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector37Log"
COLLECTOR37_ARGS = -f -p 9657
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR37
COLLECTOR38 = $(COLLECTOR)
COLLECTOR38_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector38Log"
COLLECTOR38_ARGS = -f -p 9658
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR38
COLLECTOR39 = $(COLLECTOR)
COLLECTOR39_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector39Log"
COLLECTOR39_ARGS = -f -p 9659
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR39
COLLECTOR40 = $(COLLECTOR)
COLLECTOR40_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector40Log"
COLLECTOR40_ARGS = -f -p 9660
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR40

