
###########################################################
# Ganglia configuration for user collector
###########################################################

DAEMON_LIST   = $(DAEMON_LIST), GANGLIAD

# Send data for all non-pilots, even if they aren't already
# in Ganglia.
GANGLIA_SEND_DATA_FOR_ALL_HOSTS = True

# By default, condor_gangliad queries for all ads in the
# collector (equivalent to "condor_status -l -any").  This
# is too expensive, so we drop any Ganglia reporting about
# glideins.
GANGLIAD_REQUIREMENTS = MyType =!= "Machine"

