
###########################################################
# Collector Data
###########################################################
COLLECTOR_NAME = wmscollector_service
COLLECTOR_HOST = $(CONDOR_HOST):9618

#-- disable VOMS checking
COLLECTOR.USE_VOMS_ATTRIBUTES = False

#-- allow more file descriptors (only works if Condor is started as root)
##COLLECTOR_MAX_FILE_DESCRIPTORS=20000

DAEMON_LIST   = $(DAEMON_LIST),  COLLECTOR, NEGOTIATOR
###########################################################
# Negotiator tuning
###########################################################
#-- Prefer newer claims as they are more likely to be alive
NEGOTIATOR_POST_JOB_RANK = MY.LastHeardFrom

#-- Increase negotiation frequency, as new glideins do not trigger a reschedule
NEGOTIATOR_INTERVAL = 60
NEGOTIATOR_MAX_TIME_PER_SUBMITTER=60
NEGOTIATOR_MAX_TIME_PER_PIESPIN=20

#-- Prevent preemption
PREEMPTION_REQUIREMENTS = False

#-- negotiator/GCB optimization
NEGOTIATOR_INFORM_STARTD = False

#-- Disable VOMS checking
NEGOTIATOR.USE_VOMS_ATTRIBUTES = False

#-- Causes Negotiator to run faster. PREEMPTION_REQUIREMENTS and all
#-- condor_startd rank expressions must be False for
#-- NEGOTIATOR_CONSIDER_PREEMPTION to be False
NEGOTIATOR_CONSIDER_PREEMPTION = False


