
######################################################
## Schedd tuning
######################################################
DAEMON_LIST   = $(DAEMON_LIST), SCHEDD

#--  Allow up to 6k concurrent running jobs
MAX_JOBS_RUNNING        = 6000

#--  Start max of 50 jobs every 2 seconds
JOB_START_DELAY = 2
JOB_START_COUNT = 50

#--  Stop 30 jobs every seconds
#--  This is needed to prevent glexec overload, when used
#--  Works for Condor v7.3.1 and up only, but harmless for older versions
JOB_STOP_DELAY = 1
JOB_STOP_COUNT = 30

#--  Raise file transfer limits
#--  no upload limits, since JOB_START_DELAY limits that
MAX_CONCURRENT_UPLOADS = 100
#--  but do limit downloads, as they are asyncronous
MAX_CONCURRENT_DOWNLOADS = 100

#--  Prevent checking on ImageSize
APPEND_REQ_VANILLA = (Memory>=1) && (Disk>=1)

#--  Prevent preemption
MAXJOBRETIREMENTTIME = $(HOUR) * 24 * 7

#-- Enable match authentication
SEC_ENABLE_MATCH_PASSWORD_AUTHENTICATION = TRUE

#-- GCB optimization
SCHEDD_SEND_VACATE_VIA_TCP = True
STARTD_SENDS_ALIVES = True

#-- Reduce disk IO - paranoid fsyncs are usully not needed
ENABLE_USERLOG_FSYNC = False

#-- Prepare the Shadow for use with glexec-enabled glideins
SHADOW.GLEXEC_STARTER = True
SHADOW.GLEXEC = /bin/false

#-- limit size of shadow logs
MAX_SHADOW_LOG = 100000000

#-- Publish SPOOL_DIR so it is available in the schedd classads as needed
SPOOL_DIR_STRING="$(SPOOL)"
# Make sure this works with both UW and osg rpms
LOCAL_SCHEDD_DIR=/var/lib/condor
SCHEDD_EXPRS = $(SCHEDD_EXPRS) SPOOL_DIR_STRING

#-- Condor-G tuning -----
GRIDMANAGER_MAX_SUBMITTED_JOBS_PER_RESOURCE=5000
GRIDMANAGER_MAX_PENDING_SUBMITS_PER_RESOURCE=5000
GRIDMANAGER_MAX_PENDING_REQUESTS=500
GRIDMANAGER_PROXY_REFRESH_TIME = 604800
SCHEDD_ENVIRONMENT = "_CONDOR_GRIDMANAGER_LOG=$(LOG)/GridmanagerLog.$(USERNAME)"

#--  Enable shared_port_daemon
MASTER.USE_SHARED_PORT = True
SHADOW.USE_SHARED_PORT = True
SCHEDD.USE_SHARED_PORT = True
SHARED_PORT_MAX_WORKERS = 1000
SHARED_PORT_ARGS = -p 9615
DAEMON_LIST = $(DAEMON_LIST), SHARED_PORT

#--- Secondary SCHEDDs ----
SCHEDDGLIDEINS2       = $(SCHEDD)
SCHEDDGLIDEINS2_ARGS  = -local-name scheddglideins2
SCHEDD.SCHEDDGLIDEINS2.SCHEDD_NAME   = schedd_glideins2
SCHEDD.SCHEDDGLIDEINS2.SCHEDD_LOG    = $(LOG)/SchedLog.$(SCHEDD.SCHEDDGLIDEINS2.SCHEDD_NAME)
SCHEDD.SCHEDDGLIDEINS2.LOCAL_DIR     = $(LOCAL_SCHEDD_DIR)/$(SCHEDD.SCHEDDGLIDEINS2.SCHEDD_NAME)
SCHEDD.SCHEDDGLIDEINS2.EXECUTE       = $(SCHEDD.SCHEDDGLIDEINS2.LOCAL_DIR)/execute
SCHEDD.SCHEDDGLIDEINS2.LOCK          = $(SCHEDD.SCHEDDGLIDEINS2.LOCAL_DIR)/lock
SCHEDD.SCHEDDGLIDEINS2.PROCD_ADDRESS = $(SCHEDD.SCHEDDGLIDEINS2.LOCAL_DIR)/procd_pipe
SCHEDD.SCHEDDGLIDEINS2.SPOOL         = $(SCHEDD.SCHEDDGLIDEINS2.LOCAL_DIR)/spool
SCHEDD.SCHEDDGLIDEINS2.JOB_QUEUE_LOG   = $(SCHEDD.SCHEDDGLIDEINS2.SPOOL)/job_queue.log
SCHEDD.SCHEDDGLIDEINS2.SCHEDD_ADDRESS_FILE   = $(SCHEDD.SCHEDDGLIDEINS2.SPOOL)/.schedd_address
SCHEDD.SCHEDDGLIDEINS2.SCHEDD_DAEMON_AD_FILE = $(SCHEDD.SCHEDDGLIDEINS2.SPOOL)/.schedd_classad 
SCHEDDGLIDEINS2_SPOOL_DIR_STRING     = "$(SCHEDD.SCHEDDGLIDEINS2.SPOOL)"
SCHEDD.SCHEDDGLIDEINS2.SCHEDD_EXPRS  = SPOOL_DIR_STRING

SCHEDDGLIDEINS2_ENVIRONMENT = "_CONDOR_GRIDMANAGER_LOG=$(LOG)/GridManagerLog.$(SCHEDD.SCHEDDGLIDEINS2.SCHEDD_NAME).$(USERNAME)" 
DAEMON_LIST = $(DAEMON_LIST), SCHEDDGLIDEINS2

SCHEDDGLIDEINS3       = $(SCHEDD)
SCHEDDGLIDEINS3_ARGS  = -local-name scheddglideins3
SCHEDD.SCHEDDGLIDEINS3.SCHEDD_NAME   = schedd_glideins3
SCHEDD.SCHEDDGLIDEINS3.SCHEDD_LOG    = $(LOG)/SchedLog.$(SCHEDD.SCHEDDGLIDEINS3.SCHEDD_NAME)
SCHEDD.SCHEDDGLIDEINS3.LOCAL_DIR     = $(LOCAL_SCHEDD_DIR)/$(SCHEDD.SCHEDDGLIDEINS3.SCHEDD_NAME)
SCHEDD.SCHEDDGLIDEINS3.EXECUTE       = $(SCHEDD.SCHEDDGLIDEINS3.LOCAL_DIR)/execute
SCHEDD.SCHEDDGLIDEINS3.LOCK          = $(SCHEDD.SCHEDDGLIDEINS3.LOCAL_DIR)/lock
SCHEDD.SCHEDDGLIDEINS3.PROCD_ADDRESS = $(SCHEDD.SCHEDDGLIDEINS3.LOCAL_DIR)/procd_pipe
SCHEDD.SCHEDDGLIDEINS3.SPOOL         = $(SCHEDD.SCHEDDGLIDEINS3.LOCAL_DIR)/spool
SCHEDD.SCHEDDGLIDEINS3.JOB_QUEUE_LOG   = $(SCHEDD.SCHEDDGLIDEINS3.SPOOL)/job_queue.log
SCHEDD.SCHEDDGLIDEINS3.SCHEDD_ADDRESS_FILE   = $(SCHEDD.SCHEDDGLIDEINS3.SPOOL)/.schedd_address
SCHEDD.SCHEDDGLIDEINS3.SCHEDD_DAEMON_AD_FILE = $(SCHEDD.SCHEDDGLIDEINS3.SPOOL)/.schedd_classad 
SCHEDDGLIDEINS3_SPOOL_DIR_STRING     = "$(SCHEDD.SCHEDDGLIDEINS3.SPOOL)"
SCHEDD.SCHEDDGLIDEINS3.SCHEDD_EXPRS  = SPOOL_DIR_STRING

SCHEDDGLIDEINS3_ENVIRONMENT = "_CONDOR_GRIDMANAGER_LOG=$(LOG)/GridManagerLog.$(SCHEDD.SCHEDDGLIDEINS3.SCHEDD_NAME).$(USERNAME)" 
DAEMON_LIST = $(DAEMON_LIST), SCHEDDGLIDEINS3

SCHEDDGLIDEINS4       = $(SCHEDD)
SCHEDDGLIDEINS4_ARGS  = -local-name scheddglideins4
SCHEDD.SCHEDDGLIDEINS4.SCHEDD_NAME   = schedd_glideins4
SCHEDD.SCHEDDGLIDEINS4.SCHEDD_LOG    = $(LOG)/SchedLog.$(SCHEDD.SCHEDDGLIDEINS4.SCHEDD_NAME)
SCHEDD.SCHEDDGLIDEINS4.LOCAL_DIR     = $(LOCAL_SCHEDD_DIR)/$(SCHEDD.SCHEDDGLIDEINS4.SCHEDD_NAME)
SCHEDD.SCHEDDGLIDEINS4.EXECUTE       = $(SCHEDD.SCHEDDGLIDEINS4.LOCAL_DIR)/execute
SCHEDD.SCHEDDGLIDEINS4.LOCK          = $(SCHEDD.SCHEDDGLIDEINS4.LOCAL_DIR)/lock
SCHEDD.SCHEDDGLIDEINS4.PROCD_ADDRESS = $(SCHEDD.SCHEDDGLIDEINS4.LOCAL_DIR)/procd_pipe
SCHEDD.SCHEDDGLIDEINS4.SPOOL         = $(SCHEDD.SCHEDDGLIDEINS4.LOCAL_DIR)/spool
SCHEDD.SCHEDDGLIDEINS4.JOB_QUEUE_LOG   = $(SCHEDD.SCHEDDGLIDEINS4.SPOOL)/job_queue.log
SCHEDD.SCHEDDGLIDEINS4.SCHEDD_ADDRESS_FILE   = $(SCHEDD.SCHEDDGLIDEINS4.SPOOL)/.schedd_address
SCHEDD.SCHEDDGLIDEINS4.SCHEDD_DAEMON_AD_FILE = $(SCHEDD.SCHEDDGLIDEINS4.SPOOL)/.schedd_classad 
SCHEDDGLIDEINS4_SPOOL_DIR_STRING     = "$(SCHEDD.SCHEDDGLIDEINS4.SPOOL)"
SCHEDD.SCHEDDGLIDEINS4.SCHEDD_EXPRS  = SPOOL_DIR_STRING

SCHEDDGLIDEINS4_ENVIRONMENT = "_CONDOR_GRIDMANAGER_LOG=$(LOG)/GridManagerLog.$(SCHEDD.SCHEDDGLIDEINS4.SCHEDD_NAME).$(USERNAME)" 
DAEMON_LIST = $(DAEMON_LIST), SCHEDDGLIDEINS4

SCHEDDGLIDEINS5       = $(SCHEDD)
SCHEDDGLIDEINS5_ARGS  = -local-name scheddglideins5
SCHEDD.SCHEDDGLIDEINS5.SCHEDD_NAME   = schedd_glideins5
SCHEDD.SCHEDDGLIDEINS5.SCHEDD_LOG    = $(LOG)/SchedLog.$(SCHEDD.SCHEDDGLIDEINS5.SCHEDD_NAME)
SCHEDD.SCHEDDGLIDEINS5.LOCAL_DIR     = $(LOCAL_SCHEDD_DIR)/$(SCHEDD.SCHEDDGLIDEINS5.SCHEDD_NAME)
SCHEDD.SCHEDDGLIDEINS5.EXECUTE       = $(SCHEDD.SCHEDDGLIDEINS5.LOCAL_DIR)/execute
SCHEDD.SCHEDDGLIDEINS5.LOCK          = $(SCHEDD.SCHEDDGLIDEINS5.LOCAL_DIR)/lock
SCHEDD.SCHEDDGLIDEINS5.PROCD_ADDRESS = $(SCHEDD.SCHEDDGLIDEINS5.LOCAL_DIR)/procd_pipe
SCHEDD.SCHEDDGLIDEINS5.SPOOL         = $(SCHEDD.SCHEDDGLIDEINS5.LOCAL_DIR)/spool
SCHEDD.SCHEDDGLIDEINS5.JOB_QUEUE_LOG   = $(SCHEDD.SCHEDDGLIDEINS5.SPOOL)/job_queue.log
SCHEDD.SCHEDDGLIDEINS5.SCHEDD_ADDRESS_FILE   = $(SCHEDD.SCHEDDGLIDEINS5.SPOOL)/.schedd_address
SCHEDD.SCHEDDGLIDEINS5.SCHEDD_DAEMON_AD_FILE = $(SCHEDD.SCHEDDGLIDEINS5.SPOOL)/.schedd_classad 
SCHEDDGLIDEINS5_SPOOL_DIR_STRING     = "$(SCHEDD.SCHEDDGLIDEINS5.SPOOL)"
SCHEDD.SCHEDDGLIDEINS5.SCHEDD_EXPRS  = SPOOL_DIR_STRING

SCHEDDGLIDEINS5_ENVIRONMENT = "_CONDOR_GRIDMANAGER_LOG=$(LOG)/GridManagerLog.$(SCHEDD.SCHEDDGLIDEINS5.SCHEDD_NAME).$(USERNAME)" 
DAEMON_LIST = $(DAEMON_LIST), SCHEDDGLIDEINS5

DC_DAEMON_LIST = +  SCHEDDGLIDEINS2 SCHEDDGLIDEINS3 SCHEDDGLIDEINS4 SCHEDDGLIDEINS5
