#
# Use this configuration file if you want to have a dedicated collector
# just to communicate with the Frontends
#
# Note: You will have to explicitly list $(CONDOR_HOST):9618 in the
#       glideinWMS.xml file to use it
#


###########################################################
#
# Move the main/Condor-G collector to a non standard port
# since I will use the standard one for communication with the Frontends
#
COLLECTOR_NAME = wmscollector_condorg
COLLECTOR_HOST = $(CONDOR_HOST):9614

###########################################################
# Frontend Collector Data
###########################################################
COLLECTORFE = $(COLLECTOR)
COLLECTORFE_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/CollectorFELog"
COLLECTORFE_ARGS = -f -p 9618

COLLECTORFE_NAME = wmscollector_service
COLLECTORFE.USE_VOMS_ATTRIBUTES = False

DAEMON_LIST=$(DAEMON_LIST), COLLECTORFE

