
######################################################
## Schedd tuning
######################################################
DAEMON_LIST   = $(DAEMON_LIST), SCHEDD

#--  Allow up to 6k concurrent running jobs
MAX_JOBS_RUNNING        = 6000

#--  Start max of 50 jobs every 2 seconds
JOB_START_DELAY = 2
JOB_START_COUNT = 50

#--  Stop 30 jobs every seconds
#--  This is needed to prevent glexec overload, when used
#--  Works for Condor v7.3.1 and up only, but harmless for older versions
JOB_STOP_DELAY = 1
JOB_STOP_COUNT = 30

#--  Raise file transfer limits
#--  no upload limits, since JOB_START_DELAY limits that
MAX_CONCURRENT_UPLOADS = 100
#--  but do limit downloads, as they are asyncronous
MAX_CONCURRENT_DOWNLOADS = 100

#--  Prevent checking on ImageSize
# There is no vanilla universe in the factory schedd but the requirements
# should be propagated also in the grid and condor universes.
# JOB_DEFAULT_REQUESTMEMORY and JOB_DEFAULT_REQUESTDISK may need to
# be uncommented in config if tests show problems.
#APPEND_REQ_VANILLA = (Memory>=1) && (Disk>=1)
#JOB_DEFAULT_REQUESTMEMORY=1024
#JOB_DEFAULT_REQUESTDISK=1

#--  Prevent preemption
MAXJOBRETIREMENTTIME = $(HOUR) * 24 * 7

#-- Enable match authentication
SEC_ENABLE_MATCH_PASSWORD_AUTHENTICATION = TRUE

#-- GCB optimization
SCHEDD_SEND_VACATE_VIA_TCP = True
STARTD_SENDS_ALIVES = True

#-- Reduce disk IO - paranoid fsyncs are usully not needed
ENABLE_USERLOG_FSYNC = False

#-- Prepare the Shadow for use with glexec-enabled glideins
SHADOW.GLEXEC_STARTER = True
SHADOW.GLEXEC = /bin/false

#-- limit size of shadow logs
MAX_SHADOW_LOG = 100000000

#-- Publish SPOOL_DIR so it is available in the schedd classads as needed
SPOOL_DIR_STRING="$(SPOOL)"
# Make sure this works with both UW and osg rpms
LOCAL_SCHEDD_DIR=/var/lib/condor
SCHEDD_EXPRS = $(SCHEDD_EXPRS) SPOOL_DIR_STRING

#-- Condor-G tuning -----
GRIDMANAGER_MAX_SUBMITTED_JOBS_PER_RESOURCE=5000
GRIDMANAGER_MAX_PENDING_SUBMITS_PER_RESOURCE=5000
GRIDMANAGER_MAX_PENDING_REQUESTS=500
GRIDMANAGER_PROXY_REFRESH_TIME = 604800

#--- Where should Grid specific logs be ---
# Can be owned by many users
GRIDMANAGER_LOG_DIR = $(LOG)
GRIDMANAGER_LOG = $(GRIDMANAGER_LOG_DIR)/GridManagerLog.$(SCHEDD_NAME).$(USERNAME)

#--  Enable shared_port_daemon
MASTER.USE_SHARED_PORT = True
SHADOW.USE_SHARED_PORT = True
SCHEDD.USE_SHARED_PORT = True
SHARED_PORT_MAX_WORKERS = 1000
SHARED_PORT_ARGS = -p 9615
DAEMON_LIST = $(DAEMON_LIST), SHARED_PORT

#-- Play nice if HTCondor delegates the proxy. Default value of 1 day results in
# not enough time for the glidein to start.
DELEGATE_JOB_GSI_CREDENTIALS_LIFETIME = 0


#--- Secondary SCHEDDs ----
# SPOOLSCHEDDGLIDEINS2_... is something not picked up, no need to keep it
# SPOOL_DIR_STRING is form the default

# TODO: check that schedd_name and local name can be different (why are they different?)
# TODO: double check that LOCAL_DIR is not affecting anything else
# TODO: check how SCHEDDGLIDEINSX_ENVIRONMENT is used, should there be a dot? is it ignored?
# TODO: given the new behavior (no need of reference), the per schedd config could be reduced
# These todo refer also to 02_gwms_schedds.config

SCHEDDGLIDEINS2       = $(SCHEDD)
SCHEDDGLIDEINS2_ARGS  = -local-name scheddglideins2
SCHEDDGLIDEINS2.SCHEDD_NAME   = schedd_glideins2
SCHEDDGLIDEINS2.SCHEDD_LOG    = $(LOG)/SchedLog.$(SCHEDDGLIDEINS2.SCHEDD_NAME)
SCHEDDGLIDEINS2.LOCAL_DIR_ALT     = $(LOCAL_SCHEDD_DIR)/$(SCHEDDGLIDEINS2.SCHEDD_NAME)
SCHEDDGLIDEINS2.EXECUTE       = $(SCHEDDGLIDEINS2.LOCAL_DIR_ALT)/execute
SCHEDDGLIDEINS2.LOCK          = $(SCHEDDGLIDEINS2.LOCAL_DIR_ALT)/lock
SCHEDDGLIDEINS2.PROCD_ADDRESS = $(SCHEDDGLIDEINS2.LOCAL_DIR_ALT)/procd_pipe
SCHEDDGLIDEINS2.SPOOL         = $(SCHEDDGLIDEINS2.LOCAL_DIR_ALT)/spool
SCHEDDGLIDEINS2.JOB_QUEUE_LOG   = $(SCHEDDGLIDEINS2.SPOOL)/job_queue.log
SCHEDDGLIDEINS2.SCHEDD_ADDRESS_FILE   = $(SCHEDDGLIDEINS2.SPOOL)/.schedd_address
SCHEDDGLIDEINS2.SCHEDD_DAEMON_AD_FILE = $(SCHEDDGLIDEINS2.SPOOL)/.schedd_classad 
# not used and SPOOL_DIR_STRING defined as $(SPOOL) above - SCHEDDGLIDEINS2_SPOOL_DIR_STRING     = "$(SCHEDDGLIDEINS2.SPOOL)"
SCHEDDGLIDEINS2.SCHEDD_EXPRS  = SPOOL_DIR_STRING

SCHEDDGLIDEINS2_ENVIRONMENT = "_CONDOR_SCHEDD_NAME=$(SCHEDDGLIDEINS2.SCHEDD_NAME)" 
DAEMON_LIST = $(DAEMON_LIST), SCHEDDGLIDEINS2

SCHEDDGLIDEINS3       = $(SCHEDD)
SCHEDDGLIDEINS3_ARGS  = -local-name scheddglideins3
SCHEDDGLIDEINS3.SCHEDD_NAME   = schedd_glideins3
SCHEDDGLIDEINS3.SCHEDD_LOG    = $(LOG)/SchedLog.$(SCHEDDGLIDEINS3.SCHEDD_NAME)
SCHEDDGLIDEINS3.LOCAL_DIR_ALT     = $(LOCAL_SCHEDD_DIR)/$(SCHEDDGLIDEINS3.SCHEDD_NAME)
SCHEDDGLIDEINS3.EXECUTE       = $(SCHEDDGLIDEINS3.LOCAL_DIR_ALT)/execute
SCHEDDGLIDEINS3.LOCK          = $(SCHEDDGLIDEINS3.LOCAL_DIR_ALT)/lock
SCHEDDGLIDEINS3.PROCD_ADDRESS = $(SCHEDDGLIDEINS3.LOCAL_DIR_ALT)/procd_pipe
SCHEDDGLIDEINS3.SPOOL         = $(SCHEDDGLIDEINS3.LOCAL_DIR_ALT)/spool
SCHEDDGLIDEINS3.JOB_QUEUE_LOG   = $(SCHEDDGLIDEINS3.SPOOL)/job_queue.log
SCHEDDGLIDEINS3.SCHEDD_ADDRESS_FILE   = $(SCHEDDGLIDEINS3.SPOOL)/.schedd_address
SCHEDDGLIDEINS3.SCHEDD_DAEMON_AD_FILE = $(SCHEDDGLIDEINS3.SPOOL)/.schedd_classad 
# SCHEDDGLIDEINS3_SPOOL_DIR_STRING     = "$(SCHEDDGLIDEINS3.SPOOL)"
SCHEDDGLIDEINS3.SCHEDD_EXPRS  = SPOOL_DIR_STRING

SCHEDDGLIDEINS3_ENVIRONMENT = "_CONDOR_SCHEDD_NAME=$(SCHEDDGLIDEINS3.SCHEDD_NAME)" 
DAEMON_LIST = $(DAEMON_LIST), SCHEDDGLIDEINS3

SCHEDDGLIDEINS4       = $(SCHEDD)
SCHEDDGLIDEINS4_ARGS  = -local-name scheddglideins4
SCHEDDGLIDEINS4.SCHEDD_NAME   = schedd_glideins4
SCHEDDGLIDEINS4.SCHEDD_LOG    = $(LOG)/SchedLog.$(SCHEDDGLIDEINS4.SCHEDD_NAME)
SCHEDDGLIDEINS4.LOCAL_DIR_ALT     = $(LOCAL_SCHEDD_DIR)/$(SCHEDDGLIDEINS4.SCHEDD_NAME)
SCHEDDGLIDEINS4.EXECUTE       = $(SCHEDDGLIDEINS4.LOCAL_DIR_ALT)/execute
SCHEDDGLIDEINS4.LOCK          = $(SCHEDDGLIDEINS4.LOCAL_DIR_ALT)/lock
SCHEDDGLIDEINS4.PROCD_ADDRESS = $(SCHEDDGLIDEINS4.LOCAL_DIR_ALT)/procd_pipe
SCHEDDGLIDEINS4.SPOOL         = $(SCHEDDGLIDEINS4.LOCAL_DIR_ALT)/spool
SCHEDDGLIDEINS4.JOB_QUEUE_LOG   = $(SCHEDDGLIDEINS4.SPOOL)/job_queue.log
SCHEDDGLIDEINS4.SCHEDD_ADDRESS_FILE   = $(SCHEDDGLIDEINS4.SPOOL)/.schedd_address
SCHEDDGLIDEINS4.SCHEDD_DAEMON_AD_FILE = $(SCHEDDGLIDEINS4.SPOOL)/.schedd_classad 
# SCHEDDGLIDEINS4_SPOOL_DIR_STRING     = "$(SCHEDDGLIDEINS4.SPOOL)"
SCHEDDGLIDEINS4.SCHEDD_EXPRS  = SPOOL_DIR_STRING

SCHEDDGLIDEINS4_ENVIRONMENT = "_CONDOR_SCHEDD_NAME=$(SCHEDDGLIDEINS4.SCHEDD_NAME)" 
DAEMON_LIST = $(DAEMON_LIST), SCHEDDGLIDEINS4

SCHEDDGLIDEINS5       = $(SCHEDD)
SCHEDDGLIDEINS5_ARGS  = -local-name scheddglideins5
SCHEDDGLIDEINS5.SCHEDD_NAME   = schedd_glideins5
SCHEDDGLIDEINS5.SCHEDD_LOG    = $(LOG)/SchedLog.$(SCHEDDGLIDEINS5.SCHEDD_NAME)
SCHEDDGLIDEINS5.LOCAL_DIR_ALT     = $(LOCAL_SCHEDD_DIR)/$(SCHEDDGLIDEINS5.SCHEDD_NAME)
SCHEDDGLIDEINS5.EXECUTE       = $(SCHEDDGLIDEINS5.LOCAL_DIR_ALT)/execute
SCHEDDGLIDEINS5.LOCK          = $(SCHEDDGLIDEINS5.LOCAL_DIR_ALT)/lock
SCHEDDGLIDEINS5.PROCD_ADDRESS = $(SCHEDDGLIDEINS5.LOCAL_DIR_ALT)/procd_pipe
SCHEDDGLIDEINS5.SPOOL         = $(SCHEDDGLIDEINS5.LOCAL_DIR_ALT)/spool
SCHEDDGLIDEINS5.JOB_QUEUE_LOG   = $(SCHEDDGLIDEINS5.SPOOL)/job_queue.log
SCHEDDGLIDEINS5.SCHEDD_ADDRESS_FILE   = $(SCHEDDGLIDEINS5.SPOOL)/.schedd_address
SCHEDDGLIDEINS5.SCHEDD_DAEMON_AD_FILE = $(SCHEDDGLIDEINS5.SPOOL)/.schedd_classad 
# SCHEDDGLIDEINS5_SPOOL_DIR_STRING     = "$(SCHEDDGLIDEINS5.SPOOL)"
SCHEDDGLIDEINS5.SCHEDD_EXPRS  = SPOOL_DIR_STRING

SCHEDDGLIDEINS5_ENVIRONMENT = "_CONDOR_SCHEDD_NAME=$(SCHEDDGLIDEINS5.SCHEDD_NAME)" 
DAEMON_LIST = $(DAEMON_LIST), SCHEDDGLIDEINS5
