
######################################################
## Schedd tuning
######################################################

DAEMON_LIST   = $(DAEMON_LIST),  SCHEDD

#--  Allow up to 6k concurrent running jobs
MAX_JOBS_RUNNING        = 6000

#--  Start max of 50 jobs every 2 seconds
JOB_START_DELAY = 2
JOB_START_COUNT = 50

#--  Stop 30 jobs every seconds
#--  This is needed to prevent glexec overload, when used
#--  Works for Condor v7.3.1 and up only, but harmless for older versions
JOB_STOP_DELAY = 1
JOB_STOP_COUNT = 30

#--  Raise file transfer limits
#--  no upload limits, since JOB_START_DELAY limits that
MAX_CONCURRENT_UPLOADS = 100
#--  but do limit downloads, as they are asyncronous
MAX_CONCURRENT_DOWNLOADS = 100

#--  Prevent checking on ImageSize
JOB_DEFAULT_REQUESTMEMORY=1024
JOB_DEFAULT_REQUESTDISK=1

#--  Prevent preemption
MAXJOBRETIREMENTTIME = $(HOUR) * 24 * 7

#-- Enable match authentication
SEC_ENABLE_MATCH_PASSWORD_AUTHENTICATION = TRUE

#-- GCB optimization
SCHEDD_SEND_VACATE_VIA_TCP = True
STARTD_SENDS_ALIVES = True

#-- Reduce disk IO - paranoid fsyncs are usully not needed
ENABLE_USERLOG_FSYNC = False

#-- Prepare the Shadow for use with glexec-enabled glideins
SHADOW.GLEXEC_STARTER = True
SHADOW.GLEXEC = /bin/false

#-- limit size of shadow logs
MAX_SHADOW_LOG = 100000000

#-- Publish LOCAL_DIR so it is available in the schedd classads as needed
SPOOL_DIR_STRING="$(SPOOL)"
LOCAL_SCHEDD_DIR=/var/lib/condor
SCHEDD_EXPRS = $(SCHEDD_EXPRS) SPOOL_DIR_STRING

#-- No swap space 
RESERVED_SWAP = 0

#--  Enable shared_port_daemon
MASTER.USE_SHARED_PORT = True
SHADOW.USE_SHARED_PORT = True
SCHEDD.USE_SHARED_PORT = True
SHARED_PORT_MAX_WORKERS = 1000
SHARED_PORT_ARGS = -p 9615
DAEMON_LIST = $(DAEMON_LIST), SHARED_PORT


#--- Secondary SCHEDDs ----
# To add a second schedd uncomment the following lines or use the dedicated tool (init_schedd.sh)
#SCHEDDJOBS2       = $(SCHEDD)
#SCHEDDJOBS2_ARGS  = -local-name scheddjobs2
#SCHEDDGLIDEINS2.SCHEDD_NAME   = schedd_jobs2
#SCHEDDGLIDEINS2.SCHEDD_LOG    = $(LOG)/SchedLog.$(SCHEDDGLIDEINS2.SCHEDD_NAME)
#SCHEDDGLIDEINS2.LOCAL_DIR     = $(LOCAL_SCHEDD_DIR)/$(SCHEDDGLIDEINS2.SCHEDD_NAME)
#SCHEDDGLIDEINS2.EXECUTE       = $(SCHEDDGLIDEINS2.LOCAL_DIR)/execute
#SCHEDDGLIDEINS2.LOCK          = $(SCHEDDGLIDEINS2.LOCAL_DIR)/lock
#SCHEDDGLIDEINS2.PROCD_ADDRESS = $(SCHEDDGLIDEINS2.LOCAL_DIR)/procd_pipe
#SCHEDDGLIDEINS2.SPOOL         = $(SCHEDDGLIDEINS2.LOCAL_DIR)/spool
#SCHEDDGLIDEINS2.JOB_QUEUE_LOG   = $(SCHEDDGLIDEINS2.SPOOL)/job_queue.log
#SCHEDDGLIDEINS2.SCHEDD_ADDRESS_FILE   = $(SCHEDDGLIDEINS2.SPOOL)/.schedd_address
#SCHEDDGLIDEINS2.SCHEDD_DAEMON_AD_FILE = $(SCHEDDGLIDEINS2.SPOOL)/.schedd_classad 
#SCHEDDJOBS2_SPOOL_DIR_STRING     = "$(SCHEDDGLIDEINS2.SPOOL)"
#SCHEDDGLIDEINS2.SCHEDD_EXPRS  = SPOOL_DIR_STRING
#
#DAEMON_LIST = $(DAEMON_LIST), SCHEDDJOBS2
#
#DC_DAEMON_LIST = +  SCHEDDJOBS2

#-- Default user job classad attributes --
JOB_Site               = "$$(GLIDEIN_Site:Unknown)"
JOB_GLIDEIN_Entry_Name = "$$(GLIDEIN_Entry_Name:Unknown)"
JOB_GLIDEIN_Name       = "$$(GLIDEIN_Name:Unknown)"
JOB_GLIDEIN_Factory    = "$$(GLIDEIN_Factory:Unknown)"
JOB_GLIDEIN_Schedd     = "$$(GLIDEIN_Schedd:Unknown)"
JOB_GLIDEIN_ClusterId  = "$$(GLIDEIN_ClusterId:Unknown)"
JOB_GLIDEIN_ProcId     = "$$(GLIDEIN_ProcId:Unknown)"
JOB_GLIDEIN_Site       = "$$(GLIDEIN_Site:Unknown)"
JOB_GLIDEIN_SiteWMS = "$$(GLIDEIN_SiteWMS:Unknown)"
JOB_GLIDEIN_SiteWMS_Slot = "$$(GLIDEIN_SiteWMS_Slot:Unknown)"
JOB_GLIDEIN_SiteWMS_JobId = "$$(GLIDEIN_SiteWMS_JobId:Unknown)"
JOB_GLIDEIN_SiteWMS_Queue = "$$(GLIDEIN_SiteWMS_Queue:Unknown)"

# Attributes giving more info on where the job is running
JOB_GLIDEIN_ATTRS = JOB_Site JOB_GLIDEIN_Entry_Name JOB_GLIDEIN_Name JOB_GLIDEIN_Factory JOB_GLIDEIN_Schedd JOB_GLIDEIN_ClusterId JOB_GLIDEIN_ProcId JOB_GLIDEIN_Site

# Attributes giving more info on where the glidein is running
JOB_GLIDEIN_SITEWMS_ATTRS = JOB_GLIDEIN_SiteWMS JOB_GLIDEIN_SiteWMS_Slot JOB_GLIDEIN_SiteWMS_JobId JOB_GLIDEIN_SiteWMS_Queue

# Add attributes to Job's event log
# If accounting for differences in HTCondor syntax
if version <= 8.4.6
    JobAdInformationAttrs = $(JOB_GLIDEIN_ATTRS) $(JOB_GLIDEIN_SITEWMS_ATTRS)
    SUBMIT_EXPRS = $(SUBMIT_EXPRS) $(JOB_GLIDEIN_ATTRS) $(JOB_GLIDEIN_SITEWMS_ATTRS) JobAdInformationAttrs
elif version >= 8.5.0
    if version <= 8.5.4
        JobAdInformationAttrs = $(JOB_GLIDEIN_ATTRS) $(JOB_GLIDEIN_SITEWMS_ATTRS)
        SUBMIT_EXPRS = $(SUBMIT_EXPRS) $(JOB_GLIDEIN_ATTRS) $(JOB_GLIDEIN_SITEWMS_ATTRS) JobAdInformationAttrs
    elif version == 8.5.5
        JobAdInformationAttrs = "$(JOB_GLIDEIN_ATTRS) $(JOB_GLIDEIN_SITEWMS_ATTRS)"
        SUBMIT_EXPRS = $(SUBMIT_EXPRS) $(JOB_GLIDEIN_ATTRS) $(JOB_GLIDEIN_SITEWMS_ATTRS) +JobAdInformationAttrs
    else
        JobAdInformationAttrs = "$(JOB_GLIDEIN_ATTRS) $(JOB_GLIDEIN_SITEWMS_ATTRS)"
        SUBMIT_EXPRS = $(SUBMIT_EXPRS) $(JOB_GLIDEIN_ATTRS) $(JOB_GLIDEIN_SITEWMS_ATTRS) JobAdInformationAttrs
    endif
elif version == 8.4.7
    JobAdInformationAttrs = "$(JOB_GLIDEIN_ATTRS) $(JOB_GLIDEIN_SITEWMS_ATTRS)"
    SUBMIT_EXPRS = $(SUBMIT_EXPRS) $(JOB_GLIDEIN_ATTRS) $(JOB_GLIDEIN_SITEWMS_ATTRS) +JobAdInformationAttrs
else
    JobAdInformationAttrs = "$(JOB_GLIDEIN_ATTRS) $(JOB_GLIDEIN_SITEWMS_ATTRS)"
    SUBMIT_EXPRS = $(SUBMIT_EXPRS) $(JOB_GLIDEIN_ATTRS) $(JOB_GLIDEIN_SITEWMS_ATTRS) JobAdInformationAttrs
endif


#SUBMIT_EXPRS = $(SUBMIT_EXPRS) JOB_Site JOB_GLIDEIN_Entry_Name JOB_GLIDEIN_Name JOB_GLIDEIN_Factory JOB_GLIDEIN_Schedd JOB_GLIDEIN_Schedd JOB_GLIDEIN_ClusterId JOB_GLIDEIN_ProcId JOB_GLIDEIN_Site

