# These entries need to be populated and verified for correctness

#-- Condor user: enter uid condor in form xxuid.xxgid e.g. 4716.4716
CONDOR_IDS =  
#--  Contact (via email) when problems occur
CONDOR_ADMIN = 

############################
# GSI Security config
############################
#-- Grid Certificate directory
GSI_DAEMON_TRUSTED_CA_DIR=/etc/grid-security/certificates

#-- Credentials
GSI_DAEMON_CERT =  /etc/grid-security/hostcert.pem
GSI_DAEMON_KEY  =  /etc/grid-security/hostkey.pem

#-- Condor mapfile
CERTIFICATE_MAPFILE=/etc/condor/certs/condor_mapfile

###################################
# Whitelist of condor daemon DNs
###################################
# --- VOFrontend: vofrontend_service
# Add DNs below
# --- WMSCollector: wmscollector
#GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=doegrids/OU=Services/CN=HOSTNAME


