#
# Reminder: You may want to define these in later files
#

#-- Condor user: enter uid condor in form xxuid.xxgid e.g. 4716.4716
#CONDOR_IDS = 
#--  Contact (via email) when problems occur
#CONDOR_ADMIN = 
SEC_DEFAULT_AUTHENTICATION_METHODS = IDTOKENS,SCITOKENS,FS,GSI
SEC_DAEMON_AUTHENTICATION_METHODS = $(SEC_DEFAULT_AUTHENTICATION_METHODS)
SEC_NEGOTIATOR_AUTHENTICATION_METHODS = $(SEC_DEFAULT_AUTHENTICATION_METHODS)
############################
# GSI Security config
############################
#-- Grid Certificate directory
GSI_DAEMON_TRUSTED_CA_DIR= /etc/grid-security/certificates

#-- Credentials
GSI_DAEMON_CERT =  /etc/grid-security/hostcert.pem
GSI_DAEMON_KEY  =  /etc/grid-security/hostkey.pem
# needed for SCITOKENS authentication
AUTH_SSL_SERVER_CADIR = /etc/grid-security/certificates
AUTH_SSL_SERVER_CAFILE = 
AUTH_SSL_SERVER_CERTFILE = $(GSI_DAEMON_CERT)
AUTH_SSL_SERVER_KEYFILE = $(GSI_DAEMON_KEY)
AUTH_SSL_CLIENT_CADIR = /etc/grid-security/certificates
AUTH_SSL_CLIENT_CAFILE = 
AUTH_SSL_CLIENT_CERTFILE = $(GSI_DAEMON_CERT)
AUTH_SSL_CLIENT_KEYFILE = $(GSI_DAEMON_KEY)
SSL_SKIP_HOST_CHECK = true

#-- Condor mapfile
CERTIFICATE_MAPFILE= /etc/condor/certs/condor_mapfile

###################################
# Whitelist of condor daemon DNs
###################################


