#
# Reminder: You may want to define these in later files
#

#-- Needed as of condor 8.9
ALLOW_READ = *
ALLOW_DAEMON = $(ALLOW_WRITE)
ALLOW_ADVERTISE_MASTER = $(ALLOW_DAEMON)

#-- Condor user: enter uid condor in form xxuid.xxgid e.g. 4716.4716
#CONDOR_IDS =
#--  Contact (via email) when problems occur
#CONDOR_ADMIN =

############################
# GSI && TOKEN Security config
############################
#-- Grid Certificate directory
GSI_DAEMON_TRUSTED_CA_DIR= /etc/grid-security/certificates

#-- Credentials
GSI_DAEMON_CERT =  /etc/grid-security/hostcert.pem
GSI_DAEMON_KEY  =  /etc/grid-security/hostkey.pem

#-- Condor mapfile
CERTIFICATE_MAPFILE= /etc/condor/certs/condor_mapfile



#-- uncomment to verify in condor logs what type of authentication
#-- is occuring
#ALL_DEBUG = D_SECURITY, D_FULLDEBUG
QUEUE_SUPER_USER = root, condor
RUNTIME_CONFIG_ADMIN = condor@$(FULL_HOSTNAME), root@$(FULL_HOSTNAME)
ALLOW_CONFIG = $(RUNTIME_CONFIG_ADMIN)
#
#-- needed for SciTokens validation with issuer
AUTH_SSL_CLIENT_CADIR = $(GSI_DAEMON_TRUSTED_CA_DIR)
AUTH_SSL_CLIENT_CAFILE =
AUTH_SSL_CLIENT_CERTFILE = $(GSI_DAEMON_CERT)
AUTH_SSL_CLIENT_KEYFILE = $(GSI_DAEMON_KEY)
AUTH_SSL_SERVER_CADIR = $(GSI_DAEMON_TRUSTED_CA_DIR)
AUTH_SSL_SERVER_CAFILE =
AUTH_SSL_SERVER_CERTFILE = $(GSI_DAEMON_CERT)
AUTH_SSL_SERVER_KEYFILE = $(GSI_DAEMON_KEY)

#-- uncomment if your scitokens are failing to validate
#-- because you use self signed certs
#SSL_SKIP_HOST_CHECK = true

#-- swap the pound character to turn off/on token validation
SEC_DEFAULT_AUTHENTICATION_METHODS = IDTOKENS,SCITOKENS,FS,GSI
#SEC_DEFAULT_AUTHENTICATION_METHODS = FS,SCITOKENS,GSI

SEC_NEGOTIATOR_AUTHENTICATION_METHODS = $(SEC_DEFAULT_AUTHENTICATION_METHODS)
SEC_DAEMON_AUTHENTICATION_METHODS = $(SEC_DEFAULT_AUTHENTICATION_METHODS)

###################################
# Whitelist of condor daemon DNs
###################################
