CRED_SUPER_USERS = condor, root, frontend
SCHEDD_CRON_CONFIG_VAL = $(RELEASE_DIR)/bin/condor_config_val
SCHEDD_CRON_MAX_JOB_LOAD = 0.2

# run frontend_condorpassd script periodically so
# frontend can generate IDTOKENS
SCHEDD_CRON_JOBLIST = $(SCHEDD_CRON_JOBLIST) PSWD_JOB
SCHEDD_CRON_PSWD_JOB_MODE = Periodic
SCHEDD_CRON_PSWD_JOB_EXECUTABLE = /etc/condor/scripts.d/frontend_condorpassword
SCHEDD_CRON_PSWD_JOB_PERIOD = 120s 
SCHEDD_CRON_PSWD_JOB_JOB_LOAD = 0.01
SCHEDD_CRON_PSWD_JOB_RECONFIG_RERUN = True
SCHEDD_CRON_PSWD_JOB_PREFIX = pswd_
SCHEDD_CRON_PSWD_JOB_KILL = True


