
##################################################
# Following are performanance tuning attributes.
# They can be tuned here or copied to another
# file.
##################################################

##################################################
# From 01_gwms_collector
##################################################


#-- Increase negotiation frequency, as new glideins do not trigger a reschedule
#NEGOTIATOR_INTERVAL = 60
#NEGOTIATOR_MAX_TIME_PER_SUBMITTER=60
#NEGOTIATOR_MAX_TIME_PER_PIESPIN=20

#-- Prevent preemption
#PREEMPTION_REQUIREMENTS = False

#-- negotiator/GCB optimization
#NEGOTIATOR_INFORM_STARTD = False

#-- Disable VOMS checking
#NEGOTIATOR.USE_VOMS_ATTRIBUTES = False


##################################################
# From 02_gwms_schedds
##################################################

#--  Allow up to 6k concurrent running jobs
#MAX_JOBS_RUNNING        = 6000

#--  Start max of 50 jobs every 2 seconds
#JOB_START_DELAY = 2
#JOB_START_COUNT = 50

#--  Stop 30 jobs every seconds
#--  This is needed to prevent glexec overload, when used
#--  Works for Condor v7.3.1 and up only, but harmless for older versions
#JOB_STOP_DELAY = 1
#JOB_STOP_COUNT = 30

#--  Raise file transfer limits
#--  no upload limits, since JOB_START_DELAY limits that
#MAX_CONCURRENT_UPLOADS = 100
#--  but do limit downloads, as they are asyncronous
#MAX_CONCURRENT_DOWNLOADS = 100

#-- GCB optimization
#SCHEDD_SEND_VACATE_VIA_TCP = True
#STARTD_SENDS_ALIVES = True



