# SPDX-FileCopyrightText: 2009 Fermi Research Alliance, LLC
# SPDX-License-Identifier: Apache-2.0

# example config file for blacklisting vofrontend generated tokens
# to invalidate tokens with a given subject ("sub") prior to a 
# given issue date ("iat") in unix epoch format edit and uncomment the following line:

#SEC_TOKEN_BLACKLIST_EXPR = (sub =?= "ce_fermicloud528@fermicloud505.fnal.gov" && iat <= 1633472571)

# these expressions can be OR'ed together to blacklist multiple tokens like so:

#SEC_TOKEN_BLACKLIST_EXPR = $(SEC_TOKEN_BLACKLIST_EXPR) || (sub =?= "some_other_subj" && iat <= 1633472571)
