# comment out all of this for now
#
#SCHEDD_CRON_CONFIG_VAL = $(RELEASE_DIR)/bin/condor_config_val
#SCHEDD_CRON_MAX_JOB_LOAD = 0.2
#SCHEDD_CRON_JOBLIST =
#
#PERIODIC_SCRIPT = /etc/condor/scripts/frontend_condortoken
#SCHEDD_CRON_JOBLIST = $(SCHEDD_CRON_JOBLIST) TEST
#SCHEDD_CRON_TEST_MODE = Periodic
#SCHEDD_CRON_TEST_EXECUTABLE = /etc/condor/scripts/frontend_condortoken
#SCHEDD_CRON_TEST_PERIOD = 120s 
#SCHEDD_CRON_TEST_JOB_LOAD = 0.01
#SCHEDD_CRON_TEST_RECONFIG_RERUN = True
#SCHEDD_CRON_TEST_PREFIX = test_
#SCHEDD_CRON_TEST_KILL = True
#SCHEDD_CRON_TEST_ARGS = el7_osg35 el7_osg34
#

