#################################################
# Secondary Collectors
#################################################

#
# This file should be dynamically generated
# but is provided as a static file for simple use cases
#

# Define sub-collectors and their log files
COLLECTOR0 = $(COLLECTOR)
COLLECTOR0_ARGS = -f -local-name COLLECTOR0 -p 9620 -sock collector0
COLLECTOR0_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector0Log" 
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR0

COLLECTOR1 = $(COLLECTOR)
COLLECTOR1_ARGS = -f -local-name COLLECTOR1 -p 9621 -sock collector1
COLLECTOR1_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector1Log" 
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR1

COLLECTOR2 = $(COLLECTOR)
COLLECTOR2_ARGS = -f -local-name COLLECTOR2 -p 9622 -sock collector2
COLLECTOR2_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector2Log" 
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR2

COLLECTOR3 = $(COLLECTOR)
COLLECTOR3_ARGS = -f -local-name COLLECTOR3 -p 9623 -sock collector3
COLLECTOR3_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector3Log" 
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR3

COLLECTOR4 = $(COLLECTOR)
COLLECTOR4_ARGS = -f -local-name COLLECTOR4 -p 9624 -sock collector4
COLLECTOR4_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector4Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR4

COLLECTOR5 = $(COLLECTOR)
COLLECTOR5_ARGS = -f -local-name COLLECTOR5 -p 9625 -sock collector5
COLLECTOR5_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector5Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR5

COLLECTOR6 = $(COLLECTOR)
COLLECTOR6_ARGS = -f -local-name COLLECTOR6 -p 9626 -sock collector6
COLLECTOR6_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector6Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR6

COLLECTOR7 = $(COLLECTOR)
COLLECTOR7_ARGS = -f -local-name COLLECTOR7 -p 9627 -sock collector7
COLLECTOR7_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector7Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR7

COLLECTOR8 = $(COLLECTOR)
COLLECTOR8_ARGS = -f -local-name COLLECTOR8 -p 9628 -sock collector8
COLLECTOR8_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector8Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR8

COLLECTOR9 = $(COLLECTOR)
COLLECTOR9_ARGS = -f -local-name COLLECTOR9 -p 9629 -sock collector9
COLLECTOR9_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector9Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR9

COLLECTOR10 = $(COLLECTOR)
COLLECTOR10_ARGS = -f -local-name COLLECTOR10 -p 9630 -sock collector10
COLLECTOR10_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector10Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR10

COLLECTOR11 = $(COLLECTOR)
COLLECTOR11_ARGS = -f -local-name COLLECTOR11 -p 9631 -sock collector11
COLLECTOR11_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector11Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR11

COLLECTOR12 = $(COLLECTOR)
COLLECTOR12_ARGS = -f -local-name COLLECTOR12 -p 9632 -sock collector12
COLLECTOR12_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector12Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR12

COLLECTOR13 = $(COLLECTOR)
COLLECTOR13_ARGS = -f -local-name COLLECTOR13 -p 9633 -sock collector13
COLLECTOR13_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector13Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR13

COLLECTOR14 = $(COLLECTOR)
COLLECTOR14_ARGS = -f -local-name COLLECTOR14 -p 9634 -sock collector14
COLLECTOR14_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector14Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR14

COLLECTOR15 = $(COLLECTOR)
COLLECTOR15_ARGS = -f -local-name COLLECTOR15 -p 9635 -sock collector15
COLLECTOR15_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector15Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR15

COLLECTOR16 = $(COLLECTOR)
COLLECTOR16_ARGS = -f -local-name COLLECTOR16 -p 9636 -sock collector16
COLLECTOR16_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector16Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR16

COLLECTOR17 = $(COLLECTOR)
COLLECTOR17_ARGS = -f -local-name COLLECTOR17 -p 9637 -sock collector17
COLLECTOR17_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector17Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR17

COLLECTOR18 = $(COLLECTOR)
COLLECTOR18_ARGS = -f -local-name COLLECTOR18 -p 9638 -sock collector18
COLLECTOR18_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector18Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR18

COLLECTOR19 = $(COLLECTOR)
COLLECTOR19_ARGS = -f -local-name COLLECTOR19 -p 9639 -sock collector19
COLLECTOR19_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector19Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR19

COLLECTOR20 = $(COLLECTOR)
COLLECTOR20_ARGS = -f -local-name COLLECTOR20 -p 9640 -sock collector20
COLLECTOR20_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector20Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR20

COLLECTOR21 = $(COLLECTOR)
COLLECTOR21_ARGS = -f -local-name COLLECTOR21 -p 9641 -sock collector21
COLLECTOR21_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector21Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR21

COLLECTOR22 = $(COLLECTOR)
COLLECTOR22_ARGS = -f -local-name COLLECTOR22 -p 9642 -sock collector22
COLLECTOR22_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector22Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR22

COLLECTOR23 = $(COLLECTOR)
COLLECTOR23_ARGS = -f -local-name COLLECTOR23 -p 9643 -sock collector23
COLLECTOR23_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector23Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR23

COLLECTOR24 = $(COLLECTOR)
COLLECTOR24_ARGS = -f -local-name COLLECTOR24 -p 9644 -sock collector24
COLLECTOR24_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector24Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR24

COLLECTOR25 = $(COLLECTOR)
COLLECTOR25_ARGS = -f -local-name COLLECTOR25 -p 9645 -sock collector25
COLLECTOR25_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector25Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR25

COLLECTOR26 = $(COLLECTOR)
COLLECTOR26_ARGS = -f -local-name COLLECTOR26 -p 9646 -sock collector26
COLLECTOR26_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector26Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR26

COLLECTOR27 = $(COLLECTOR)
COLLECTOR27_ARGS = -f -local-name COLLECTOR27 -p 9647 -sock collector27
COLLECTOR27_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector27Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR27

COLLECTOR28 = $(COLLECTOR)
COLLECTOR28_ARGS = -f -local-name COLLECTOR28 -p 9648 -sock collector28
COLLECTOR28_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector28Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR28

COLLECTOR29 = $(COLLECTOR)
COLLECTOR29_ARGS = -f -local-name COLLECTOR29 -p 9649 -sock collector29
COLLECTOR29_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector29Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR29

COLLECTOR30 = $(COLLECTOR)
COLLECTOR30_ARGS = -f -local-name COLLECTOR30 -p 9650 -sock collector30
COLLECTOR30_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector30Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR30

COLLECTOR31 = $(COLLECTOR)
COLLECTOR31_ARGS = -f -local-name COLLECTOR31 -p 9651 -sock collector31
COLLECTOR31_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector31Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR31

COLLECTOR32 = $(COLLECTOR)
COLLECTOR32_ARGS = -f -local-name COLLECTOR32 -p 9652 -sock collector32
COLLECTOR32_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector32Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR32

COLLECTOR33 = $(COLLECTOR)
COLLECTOR33_ARGS = -f -local-name COLLECTOR33 -p 9653 -sock collector33
COLLECTOR33_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector33Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR33

COLLECTOR34 = $(COLLECTOR)
COLLECTOR34_ARGS = -f -local-name COLLECTOR34 -p 9654 -sock collector34
COLLECTOR34_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector34Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR34

COLLECTOR35 = $(COLLECTOR)
COLLECTOR35_ARGS = -f -local-name COLLECTOR35 -p 9655 -sock collector35
COLLECTOR35_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector35Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR35

COLLECTOR36 = $(COLLECTOR)
COLLECTOR36_ARGS = -f -local-name COLLECTOR36 -p 9656 -sock collector36
COLLECTOR36_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector36Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR36

COLLECTOR37 = $(COLLECTOR)
COLLECTOR37_ARGS = -f -local-name COLLECTOR37 -p 9657 -sock collector37
COLLECTOR37_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector37Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR37

COLLECTOR38 = $(COLLECTOR)
COLLECTOR38_ARGS = -f -local-name COLLECTOR38 -p 9658 -sock collector38
COLLECTOR38_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector38Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR38

COLLECTOR39 = $(COLLECTOR)
COLLECTOR39_ARGS = -f -local-name COLLECTOR39 -p 9659 -sock collector39
COLLECTOR39_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector39Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR39

COLLECTOR40 = $(COLLECTOR)
COLLECTOR40_ARGS = -f -local-name COLLECTOR40 -p 9660 -sock collector40
COLLECTOR40_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector40Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR40
