#################################################
# Secondary Collectors
#################################################

#
# This file should be dynamically generated
# but is provided as a static file for simple use cases
#

# Define sub-collectors and their log files
use Experimental:CollectorNode(1)
COLLECTOR1_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector1Log"

use Experimental:CollectorNode(2)
COLLECTOR2_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector2Log"

use Experimental:CollectorNode(3)
COLLECTOR3_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector3Log"

use Experimental:CollectorNode(4)
COLLECTOR4_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector4Log"

use Experimental:CollectorNode(5)
COLLECTOR5_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector5Log"

use Experimental:CollectorNode(6)
COLLECTOR6_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector6Log"

use Experimental:CollectorNode(7)
COLLECTOR7_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector7Log"

use Experimental:CollectorNode(8)
COLLECTOR8_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector8Log"

use Experimental:CollectorNode(9)
COLLECTOR9_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector9Log"

use Experimental:CollectorNode(10)
COLLECTOR10_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector10Log"

use Experimental:CollectorNode(11)
COLLECTOR11_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector11Log"

use Experimental:CollectorNode(12)
COLLECTOR12_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector12Log"

use Experimental:CollectorNode(13)
COLLECTOR13_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector13Log"

use Experimental:CollectorNode(14)
COLLECTOR14_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector14Log"

use Experimental:CollectorNode(15)
COLLECTOR15_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector15Log"

use Experimental:CollectorNode(16)
COLLECTOR16_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector16Log"

use Experimental:CollectorNode(17)
COLLECTOR17_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector17Log"

use Experimental:CollectorNode(18)
COLLECTOR18_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector18Log"

use Experimental:CollectorNode(19)
COLLECTOR19_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector19Log"

use Experimental:CollectorNode(20)
COLLECTOR20_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector20Log"

use Experimental:CollectorNode(21)
COLLECTOR21_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector21Log"

use Experimental:CollectorNode(22)
COLLECTOR22_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector22Log"

use Experimental:CollectorNode(23)
COLLECTOR23_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector23Log"

use Experimental:CollectorNode(24)
COLLECTOR24_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector24Log"

use Experimental:CollectorNode(25)
COLLECTOR25_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector25Log"

use Experimental:CollectorNode(26)
COLLECTOR26_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector26Log"

use Experimental:CollectorNode(27)
COLLECTOR27_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector27Log"

use Experimental:CollectorNode(28)
COLLECTOR28_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector28Log"

use Experimental:CollectorNode(29)
COLLECTOR29_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector29Log"

use Experimental:CollectorNode(30)
COLLECTOR30_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector30Log"

use Experimental:CollectorNode(31)
COLLECTOR31_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector31Log"

use Experimental:CollectorNode(32)
COLLECTOR32_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector32Log"

use Experimental:CollectorNode(33)
COLLECTOR33_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector33Log"

use Experimental:CollectorNode(34)
COLLECTOR34_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector34Log"

use Experimental:CollectorNode(35)
COLLECTOR35_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector35Log"

use Experimental:CollectorNode(36)
COLLECTOR36_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector36Log"

use Experimental:CollectorNode(37)
COLLECTOR37_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector37Log"

use Experimental:CollectorNode(38)
COLLECTOR38_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector38Log"

use Experimental:CollectorNode(39)
COLLECTOR39_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector39Log"

use Experimental:CollectorNode(40)
COLLECTOR40_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector40Log"
