#################################################
# Secondary Collectors
#################################################

#
# This file should be dynamically generated
# but is provided as a static file for simple use cases
# 

# Define sub-collectors, their ports and their log files
COLLECTOR1 = $(COLLECTOR)
COLLECTOR1_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector1Log"

COLLECTOR2 = $(COLLECTOR)
COLLECTOR2_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector2Log"

COLLECTOR3 = $(COLLECTOR)
COLLECTOR3_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector3Log"

COLLECTOR4 = $(COLLECTOR)
COLLECTOR4_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector4Log"

COLLECTOR5 = $(COLLECTOR)
COLLECTOR5_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector5Log"

COLLECTOR6 = $(COLLECTOR)
COLLECTOR6_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector6Log"

COLLECTOR7 = $(COLLECTOR)
COLLECTOR7_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector7Log"

COLLECTOR8 = $(COLLECTOR)
COLLECTOR8_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector8Log"

COLLECTOR9 = $(COLLECTOR)
COLLECTOR9_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector9Log"

COLLECTOR10 = $(COLLECTOR)
COLLECTOR10_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector10Log"

OLLECTOR11 = $(COLLECTOR)
COLLECTOR11_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector11Log"

COLLECTOR12 = $(COLLECTOR)
COLLECTOR12_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector12Log"

COLLECTOR13 = $(COLLECTOR)
COLLECTOR13_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector13Log"

COLLECTOR14 = $(COLLECTOR)
COLLECTOR14_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector14Log"

COLLECTOR15 = $(COLLECTOR)
COLLECTOR15_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector15Log"

COLLECTOR16 = $(COLLECTOR)
COLLECTOR16_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector16Log"

COLLECTOR17 = $(COLLECTOR)
COLLECTOR17_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector17Log"

COLLECTOR18 = $(COLLECTOR)
COLLECTOR18_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector18Log"

COLLECTOR19 = $(COLLECTOR)
COLLECTOR19_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector19Log"

COLLECTOR20 = $(COLLECTOR)
COLLECTOR20_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector20Log"

COLLECTOR21 = $(COLLECTOR)
COLLECTOR21_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector21Log"

COLLECTOR22 = $(COLLECTOR)
COLLECTOR22_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector22Log"

COLLECTOR23 = $(COLLECTOR)
COLLECTOR23_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector23Log"

COLLECTOR24 = $(COLLECTOR)
COLLECTOR24_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector24Log"

COLLECTOR25 = $(COLLECTOR)
COLLECTOR25_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector25Log"

COLLECTOR26 = $(COLLECTOR)
COLLECTOR26_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector26Log"

COLLECTOR27 = $(COLLECTOR)
COLLECTOR27_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector27Log"

COLLECTOR28 = $(COLLECTOR)
COLLECTOR28_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector28Log"

COLLECTOR29 = $(COLLECTOR)
COLLECTOR29_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector29Log"

COLLECTOR30 = $(COLLECTOR)
COLLECTOR30_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector30Log"

COLLECTOR31 = $(COLLECTOR)
COLLECTOR31_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector31Log"

COLLECTOR32 = $(COLLECTOR)
COLLECTOR32_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector32Log"

COLLECTOR33 = $(COLLECTOR)
COLLECTOR33_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector33Log"

COLLECTOR34 = $(COLLECTOR)
COLLECTOR34_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector34Log"

COLLECTOR35 = $(COLLECTOR)
COLLECTOR35_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector35Log"

COLLECTOR36 = $(COLLECTOR)
COLLECTOR36_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector36Log"

COLLECTOR37 = $(COLLECTOR)
COLLECTOR37_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector37Log"

COLLECTOR38 = $(COLLECTOR)
COLLECTOR38_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector38Log"

COLLECTOR39 = $(COLLECTOR)
COLLECTOR39_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector39Log"

COLLECTOR40 = $(COLLECTOR)
COLLECTOR40_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector40Logi"

DAEMON_LIST = $(DAEMON_LIST) COLLECTOR1 COLLECTOR2 COLLECTOR3 COLLECTOR4 COLLECTOR5 COLLECTOR6 COLLECTOR7 COLLECTOR8 COLLECTOR9 COLLECTOR10 COLLECTOR11 COLLECTOR12 COLLECTOR13 COLLECTOR14 COLLECTOR15 COLLECTOR16 COLLECTOR17 COLLECTOR18 COLLECTOR19 COLLECTOR20 COLLECTOR21 COLLECTOR22 COLLECTOR23 COLLECTOR24 COLLECTOR25 COLLECTOR26 COLLECTOR27 COLLECTOR28 COLLECTOR29 COLLECTOR30 COLLECTOR31 COLLECTOR32 COLLECTOR33 COLLECTOR34 COLLECTOR35 COLLECTOR36 COLLECTOR37 COLLECTOR38 COLLECTOR39 COLLECTOR40

# Define sub collectors (in this case, we want 40)
# This will result in a condor_collector with sock names
# of collector1, collector2, ... collector40.
use Experimental:CollectorNode(1)
use Experimental:CollectorNode(2)
use Experimental:CollectorNode(3)
use Experimental:CollectorNode(4)
use Experimental:CollectorNode(5)
use Experimental:CollectorNode(6)
use Experimental:CollectorNode(7)
use Experimental:CollectorNode(8)
use Experimental:CollectorNode(9)
use Experimental:CollectorNode(10)
use Experimental:CollectorNode(11)
use Experimental:CollectorNode(12)
use Experimental:CollectorNode(13)
use Experimental:CollectorNode(14)
use Experimental:CollectorNode(15)
use Experimental:CollectorNode(16)
use Experimental:CollectorNode(17)
use Experimental:CollectorNode(18)
use Experimental:CollectorNode(19)
use Experimental:CollectorNode(20)
use Experimental:CollectorNode(21)
use Experimental:CollectorNode(22)
use Experimental:CollectorNode(23)
use Experimental:CollectorNode(24)
use Experimental:CollectorNode(25)
use Experimental:CollectorNode(26)
use Experimental:CollectorNode(27)
use Experimental:CollectorNode(28)
use Experimental:CollectorNode(29)
use Experimental:CollectorNode(30)
use Experimental:CollectorNode(31)
use Experimental:CollectorNode(32)
use Experimental:CollectorNode(33)
use Experimental:CollectorNode(34)
use Experimental:CollectorNode(35)
use Experimental:CollectorNode(36)
use Experimental:CollectorNode(37)
use Experimental:CollectorNode(38)
use Experimental:CollectorNode(39)
use Experimental:CollectorNode(40)