
# Whitelist of server DNs that should be authenticated
# This file can be automatically modified via the tool glidecondor_addDN

# e.g., the pool collector should contain the pool collector, schedd, startd
# See components/gsi.html in the documentation for more information

GSI_DAEMON_NAME=$(GSI_DAEMON_NAME)

