[Unit]
Description=GWMS Factory Service
Requires=condor.service
After=condor.service
Documentation="http://glideinwms.fnal.gov/doc.prd/factory/index.html"

[Service]
Type=forking
ExecStart=/usr/sbin/gwms-factory-service start
ExecStop=/usr/sbin/gwms-factory-service stop
ExecReload=/usr/sbin/gwms-factory-service reload $MAINPID

[Install]
WantedBy=multi-user.target
