[Unit]
Description=Hourly frontend and pilot proxy renewal
After=syslog.target network.target
Wants=network.target

[Timer]
OnActiveSec=0s
OnUnitActiveSec=1h
Persistent=true

[Install]
WantedBy=multi-user.target
