[Unit]
Description=GWMS Frontend Service
Requires=condor.service
After=condor.service
Documentation="http://glideinwms.fnal.gov/doc.prd/frontend/index.html"

[Service]
Type=forking
ExecStart=/usr/sbin/gwms-frontend-service start
ExecStop=/usr/sbin/gwms-frontend-service stop
ExecReload=/usr/sbin/gwms-frontend-service reload  $MAINPID

[Install]
WantedBy=multi-user.target
