[Unit]
Description=GWMS Factory

[Service]
Type=forking
ExecStart=/usr/sbin/gwms-factory start
ExecStop=/usr/sbin/gwms-factory stop
ExecReload=/usr/sbin/gwms-factory reconfig

[Install]
WantedBy=multi-user.target
